@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
padding: 0;
margin: 0; 
box-sizing: border-box; 
font-family: "Roboto", sans-serif;
}


.word__logo--position{
   display: flex;
   align-items: center;
}

.nav__description--button{
    margin:0;
    margin-top: 2px;;
    padding: 10px 32px;
    background-color: #6415ff;
    color: white;
    border: none;
font-size: 24px;
border-radius: 9999px;
}


.home__description{
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        
    }
    
    .nav__lists {
    text-decoration: none;
    list-style-type: none;
}

.nav__lists{
display: flex;
align-items: center;
justify-content: space-around;
width: 40%;
}


nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.row{
width: 100%;
max-width:1200px;
margin: 0 auto;
}

.logo__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    font-size: 18px;
}

.purple{
  color:#6415ff;  
}

h1{
    font-size: 36px;
}

.logo{
    width:60px;
    height: 60px;
}

.word__logo{
    font-size: 32px;
    font-weight: 900;
}

.sub-header--para{
    font-size: 24px;
    margin: 32px 0;
}

.desktop__img{
max-width:768px;
}

.trusted__partners{
    padding:16px;
    width: 100%;
}

.getstarted__button{
    margin:0;
    margin-top: 2px;;
    padding: 10px 32px;
    background-color: #6415ff;
    color: white;
    border: none;
font-size: 24px;
border-radius: 9999px;
}

.email__input{
    width: 100%;
    border-radius: 500px;
    position: relative;
    
}


/*FORM*/


/*HIGHLIGHTS*/

